* {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    font-family: "Overpass";
    color: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
    font-family: "Overpass", sans-serif;
}

main {
    background-color: hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: hsl(0, 0%, 100%);
}

p {
    color:  hsl(217, 12%, 63%); 
}

.section-class {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    color: hsl(217, 12%, 63%);
}
.star-icon {
    display: block;
    margin: 0 0 0 0;
    width: 50px;
    height: auto;
}

.greetings {
    text-align: center;
}

.thank-you img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.submit-btn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);;
    border: none;
    padding: 10px 150px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: hsl(25, 97%, 63%);
    color: hsl(0, 0%, 100%);
}

.rating-button {
    background-color: hsl(217, 12%, 63%);
    color: hsl(217, 12%, 63%);
    border: none;
    padding: 20px 20px;
    border-radius: 150px;
    cursor: pointer;
}
.rating-button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);;
}

.rating-button.selected {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.greetings {
    display: none;
}

.greetings.show {
    display: block;
}

.selection-text {
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 1rem;
}
